var format = function (text) {
  if (!text) {
    return
  }
  var reg = getRegExp('\\\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}

//对数据进行长度限制
var limit = function (array, length) {
  return array.slice(0, length)
}

module.exports = {
  format: format,
  limit: limit
}